doctype html

html(lang = "RU")

    head

        meta(charset = "utf-8")
        meta(name = "viewport", content = "width=device-width,initial-scale=1")
        meta(name="description", content="Title")

        title Title

        link(type = "text/css", rel = "stylesheet", href = "css/styles.min.css")
        link(type = "text/css", rel = "stylesheet", href = "css/normalize.css")

    body
        header.page-header
            .page-header__wrapper
                .page-header__text_box
                    h1.page-header__heading
                        | Прикоснитесь к традициям итальянского кофе
                    ul.page-header__links-list
                        li.page-header__links-item
                            a.page-header__link.page-header__link--brown(href="javascript:void(0);" target="_blank")
                                | Выбрать модель
                        li.page-header__links-item
                            a.page-header__link.page-header__link--brown-light(href="javascript:void(0);" target="_blank")
                                | Зарегистрировать покупку
                    .page-header__text_box
                        p.page-header__text
                            | Купите кофемашину,
                        p.page-header__small-text
                            | участвующую в акции, и получите
                        p.page-header__medium-text
                            | 10кг #[span.page-header__uppercase кофе в подарок!]
        main.page-content
            .page-content__promo.promo
                .promo__wrapper
                    .promo__image-box
                        img.promo__coffee-bag(src="img/min-img/coffee-bag.png" width="730" height="607")
                        img.promo__coffee-pack(src="img/min-img/coffee-pack.png" width="196" height="342")
                    .promo__text-box
                        h2.promo__heading
                            | Комплимент от De’Longhi для истинных кофеманов
                        img.promo__bean(src="img/min-img/coffee-bean.png" width="53" height="42")
                        p.promo__text
                            | #[span.promo__grey 10 кг отборной 100% Арабики для приготовления]
                            br
                            | любимых напитков на любой вкус каждый день
            .page-content__coffee-machine.coffee-machine
            .page-content__barista.barista
                .barista__wrapper
                    h2.barista__heading
                        | Персональный бариста у вас дома
                    .barista__list_wrapper
                        ul.barista__list.barista__list--first-row
                            li.barista__item
                                h3.barista__title
                                    | Удобное
                                    br
                                    | управление
                                p.barista__content
                                    | Интуитивный понятный интерфейс позволяет легко и удобно пользоваться всем функционалом кофемашины. Дисплей предоставляет доступ к любимым напиткам, позволяет настраивать и  сохранять в памяти рецепты в соответствии с предпочтениями.
                            li.barista__item
                                h3.barista__title
                                    | Персонализация
                                    br
                                    | напитков
                                p.barista__content
                                    | Все напитки, от эспрессо до латте маккиато, легко настраиваются согласно Вашим персональным предпочтениям при помощи простого в использовании сенсорного дисплея. С кофемашиной PrimaDonna Elite Вы можете наслаждаться своими любимыми напитками, приготовленными именно так, как Вы любите.
                        ul.barista__list.barista__list--second-row
                            li.barista__item
                                h3.barista__title
                                    | Система вспенивания
                                    br
                                    | молока LatteCrema System
                                p.barista__content
                                    | Благодаря современной технологии с отдельной гидравлической системой, точной электроникой и специальным контейнером для молока, система LatteCrema System от компании De’Longhi смешивает пар, воздух и молоко в нужной пропорции, чтобы обеспечивать получение идеальной молочной пены для Ваших любимых кофейных напитков с молоком.
                            li.barista__item
                                h3.barista__title
                                    | Современный
                                    br
                                    | динамичный дизайн
                                p.barista__content
                                    | Каждый элемент кофемашин выполнен с большим вниманием к мельчайшим деталям. Благодаря универсальному дизайну кофемашина De'Longhi украсит интерьер любой кухни. Каждая модель - новый стандарт элегантности.
            .page-content__coffee-love.coffee-love
                .coffee-love__card
                    .coffee-love__wrapper
                        .coffee-love__text-box
                            h2.coffee-love__heading
                                | Кофе - это любовь на всю жизнь.
                            h3.coffee-love__sub-heading
                                | Побалуйте себя чашечкой превосходной арабики
                            p.coffee-love__text
                                | #[span.coffee-love__country Арабика] – это одна из ботанических разновидностей кофейного дерева. Ее официальное «имя» звучит лаконично: Coffea Arabica или Арабика Аравийская.
                            p.coffee-love__text
                                | Свойства кофе привлекли внимание арабских торговцев, и они решили познакомить свою родину с этим растением.
                            p.coffee-love__text
                                | Между эфиопским городом-рынком Хараром и Аравийским полуостровом существовали активные торговые связи. Именно оттуда кофе попал в Йемен, а оттуда в арабский мир.
                            p.coffee-love__text
                                | В то время кофейное дерево еще не называли арабикой, это название ботаники дали растению гораздо позже, и не совсем верно. Они посчитали, что дерево – исконный житель Аравии, отсюда и название. Только потом выяснилось, что прародиной растения является Африка, но переделывать уже ничего не стали.
                    .coffee-love__image-box
            .page-content__perfect-cup.perfect-cup
                .perfect-cup__wrapper
                    .perfect-cup__image-box
                        img.perfect-cup__image(src="img/min-img/product-crop.png")
                    .perfect-cup__content
                        h2.perfect-cup__heading
                            | Наслаждайтесь вашей идеальной чашкой кофе
                        ul.perfect-cup__list
                            li.perfect-cup__item
                                p.perfect-cup__text
                                    | Безупречный эспрессо
                            li.perfect-cup__item
                                p.perfect-cup__text
                                    | Превосходные напитки с добавлением молока
                            li.perfect-cup__item
                                p.perfect-cup__text
                                    | Одним прикосновением к дисплею
            .page-content__roast.roast
                .roast__card
                    .roast__image-box
                    .roast__wrapper
                        .roast__text-box
                            h2.roast__heading
                                | Степени обжарки
                            ul.roast__list
                                li.roast__item
                                    p.roast__type
                                        | Светлая
                                    p.roast__info
                                        | Легкая насыщенность вкуса. Ярко-выраженная кислинка.
                                li.roast__item
                                    p.roast__type
                                        | Средняя
                                    p.roast__info
                                        | Легкие сладко-горькие нотки во вкусе. Легкая кислинка, более насыщенный вкус.
                                li.roast__item
                                    p.roast__type
                                        | Средне-темная
                                    p.roast__info
                                        | Более выраженные сладко-горькие нотки во вкусе. Еще более легкая кислинка и более насыщенный вкус.
                                li.roast__item
                                    p.roast__type
                                        | Темная
                                    p.roast__info
                                        | Выраженный сладко-горький вкус, минимальная кислинка.
                                li.roast__item
                                    p.roast__type
                                        | Очень темная
                                    p.roast__info
                                        | Резкий сладко-горький вкус, отсутствие кислинки.
            .page-content__rules.rules
                .rules__wrapper
                    h2.rules__heading
                        | 4 простых шага до вашей кофемашины
                    ul.rules__list
                        li.rules__item
                            .rules__icon
                                img.rules__icon-image(src="img/min-img/icons/icon-choices.png")
                            p.rules__text
                                | Выберите кофемашину
                        li.rules__item
                            .rules__icon
                                img.rules__icon-image(src="img/min-img/icons/icon-cart.png")
                            p.rules__text
                                | Добавьте в
                                br
                                | корзину
                        li.rules__item
                            .rules__icon
                                img.rules__icon-image(src="img/min-img/icons/icon-card.png")
                            p.rules__text
                                | Оплатите
                                br
                                | заказ
                        li.rules__item
                            .rules__icon
                                img.rules__icon-image(src="img/min-img/icons/icon-truck.png")
                            p.rules__text
                                | Курьер
                                br
                                | доставит кофемашину
                                br
                                | и ваш подарок
                    h3.rules__subheading
                        | Краткие правила акции:
                    p.rules__info
                        | 1. Акция действует в официальном интернет-магазине De'Longhi.ru
                        br
                        | 2. Срок действия акции — с 01 ноября 2018 по 10 января 2019
                        br
                        | 3. Организатор акции и продавец: ООО «ФИРМЕННЫЕ РЕШЕНИЯ»,
                        br
                        | 198216 Санкт-Петербург Ленинский проспект дом 139 литера А помещение 414
            .page-content__products.products
                h2.products__heading
                    | Кофемашины, участвующие в акции
                ul.products__list
