.products {
  max-width: 1230px;
  padding: 0 30px 30px 30px;
  margin: 0 auto;

  box-sizing: border-box;
}

.products__heading {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  color: $blue;

  @media (max-width: 1000px) {
    font-size: 42px;
  }
}

.products__list {
  @include clear_list;

  min-height: 600px;
  background-color: #f7f2ed;
}