.roast__card {
  max-width: 1230px;
  min-height: 830px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 88px;

  box-sizing: border-box;

  background-color: $blue;
  background-image: url("../img/min-img/coffee-bean-bg.png");
  background-position: right;
  background-repeat: no-repeat;

  position: relative;

  @media (max-width: 800px) {
    padding: 0;

    display: flex;
    flex-direction: column;
  }
}

.roast__wrapper {
  min-height: 800px;

  box-sizing: border-box;
  border: 3px solid white;

  display: flex;

  position: relative;
  z-index: 2;

  @media (max-width: 800px) {
    min-height: unset;
    border: none;
  }
}

.roast__text-box {
  width: 50%;
  padding: 60px 50px 50px 75px;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;

  @media (max-width: 1050px) {
    padding: 60px 35px 50px;
  }

  @media (max-width: 1000px) {
    width: 100%;
    height: 50%;
    padding: 20px;
    margin-left: 0;
    margin-top: auto;

    text-align: center;
  }
}

.roast__image-box {
  width: 50%;
  height: 100%;

  background-image: url("../img/min-img/machine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: absolute;
  top: 0;
  left: 0;

  @media (max-width: 1000px) {
    width: 100%;
    height: 50%;

    background-image: url("../img/min-img/machine-wide.jpg");
  }

  @media (max-width: 800px) {
    min-height: 430px;

    position: static;
  }

  @media (max-width: 500px) {
    min-height: 320px;
  }
}

.roast__heading {
  margin-top: 0;
  margin-bottom: 60px;

  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: left;
  color: $white;

  @media (max-width: 1000px) {
    margin-bottom: 20px;

    font-size: 42px;
    text-align: center;
  }
}

.roast__list {
  @include clear_list;

  display: flex;
  flex-direction: column;

  @media (max-width: 1000px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.roast__item {
  margin-bottom: 55px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 1000px) {
    width: calc(100%/2 - 20px);
    margin-right: 40px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    max-width: 450px;
    margin-right: 0;
  }
}

.roast__type {
  margin-top: 0;
  margin-bottom: 0;

  font-family: "Roboto Light Italic", sans-serif;
  font-size: 22px;
  color: #bb9e81;
  font-style: italic;
  text-align: left;

  @media (max-width: 1000px) {
    text-align: center;
  }
}

.roast__info {
  margin-top: 0;
  margin-bottom: 0;

  font-family: "Roboto Light Italic", sans-serif;
  font-size: 18px;
  color: $white;
  font-style: italic;
  text-align: left;

  @media (max-width: 1000px) {
    text-align: center;
  }
}