@font-face {
  font-family: "Futura Medium";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/FuturaNewMedium.woff2") format("woff2"), url("../fonts/FuturaNewMedium.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Futura Light";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/futura_light_oblique-webfont.woff2") format("woff2"), url("../fonts/futura_light_oblique-webfont.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Roboto Italic";
  font-weight: 400;
  src: url("../fonts/roboto-italic.woff2") format("woff2"), url("../fonts/roboto-italic.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: "Roboto Light Italic";
  font-weight: 400;
  src: url("../fonts/robotocondensed-italic-webfont.woff2") format("woff2"), url("../fonts/robotocondensed-italic-webfont.woff") format("woff");
  font-display: swap;
  font-style: italic; }

.page-header {
  height: 100vh;
  padding-bottom: 175px;
  background-image: url("../img/min-img/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  box-sizing: border-box; }

.page-header__wrapper {
  width: 100%;
  max-width: 1230px;
  margin: auto auto 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box; }

.page-header__text_box {
  max-width: 630px;
  margin-left: auto; }

.page-header__heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-align: right;
  color: #ffffff; }

.page-header__links-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 150px;
  display: flex;
  justify-content: flex-end; }

.page-header__links-item {
  min-width: 200px;
  min-height: 37px; }
  .page-header__links-item:first-child {
    margin-right: 10px; }

.page-header__link {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: all 0.2s ease;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center; }
  .page-header__link:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    background-color: #ffffff; }
  .page-header__link--brown {
    background-color: #af8461; }
    .page-header__link--brown:hover {
      color: #af8461; }
  .page-header__link--brown-light {
    background-color: #e6bf9a; }
    .page-header__link--brown-light:hover {
      color: #e6bf9a; }

.page-header__text_box {
  text-align: right; }

.page-header__text {
  margin: 0;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 45px;
  color: #ffffff; }

.page-header__small-text {
  margin: 0;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 28px;
  color: #ffffff; }

.page-header__medium-text {
  margin: 0;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 38px;
  color: #ffffff; }

.page-header__uppercase {
  text-transform: uppercase; }

.promo {
  max-width: 1230px;
  padding: 80px 30px;
  margin: 0 auto; }

.promo__wrapper {
  max-width: 1070px;
  margin-left: auto;
  display: flex; }

.promo__image-box {
  width: 510px;
  height: 425px;
  position: relative; }

.promo__coffee-bag {
  max-width: 100%;
  height: auto;
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: -1; }

.promo__coffee-pack {
  position: absolute;
  bottom: 0;
  left: 0; }

.promo__text-box {
  max-width: 525px;
  margin-left: auto;
  padding-top: 25px; }

.promo__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #0c2645; }

.promo__bean {
  margin: 0 auto 25px auto;
  display: block; }

.promo__text {
  max-width: 360px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  line-height: 1.2;
  color: #0c2645;
  text-align: center;
  font-style: italic; }

.promo__grey {
  color: #747474; }

.coffee-machine {
  height: 100vh;
  background-image: url("../img/min-img/product-section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.barista {
  max-width: 1230px;
  padding: 50px 30px;
  margin: 0 auto;
  box-sizing: border-box; }

.barista__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  color: #0c2645; }

.barista__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .barista__list:first-child {
    margin-bottom: 80px; }
  .barista__list--first-row .barista__item:first-child::before {
    content: "1"; }
  .barista__list--first-row .barista__item:nth-child(2)::before {
    content: "3"; }
  .barista__list--second-row .barista__item:first-child::before {
    content: "2"; }
  .barista__list--second-row .barista__item:nth-child(2)::before {
    content: "4"; }

.barista__item {
  width: 50%;
  max-width: 325px;
  padding-top: 85px;
  position: relative; }
  .barista__item::before {
    content: "";
    width: 66px;
    height: 66px;
    background-image: url("../img/round.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #0c2645;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.barista__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #747474; }

.barista__content {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-style: italic;
  color: #747474;
  text-align: center; }

.barista__list_wrapper {
  background-image: url("../img/min-img/product-image.png");
  background-position: 50% 0;
  background-size: contain;
  background-repeat: no-repeat; }

.coffee-love__card {
  max-width: 1230px;
  min-height: 830px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 93px;
  box-sizing: border-box;
  background-color: #0c2645;
  background-image: url("../img/min-img/coffee-bean-bg.png");
  background-position: left;
  background-repeat: no-repeat;
  position: relative; }

.coffee-love__wrapper {
  min-height: 800px;
  box-sizing: border-box;
  border: 3px solid white;
  display: flex;
  position: relative;
  z-index: 2; }

.coffee-love__text-box {
  width: 50%;
  padding: 60px 50px 50px 50px;
  box-sizing: border-box; }

.coffee-love__image-box {
  width: 50%;
  height: 100%;
  background-image: url("../img/min-img/person.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0; }

.coffee-love__heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: left;
  color: #ffffff; }

.coffee-love__sub-heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Futura Light", Arial, sans-serif;
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  text-align: left;
  color: #ffffff; }

.coffee-love__text {
  font-family: "Roboto Light Italic", sans-serif;
  font-size: 18px;
  color: #ffffff; }

.coffee-love__country {
  font-size: 24px; }

.perfect-cup {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 130px;
  box-sizing: border-box; }

.perfect-cup__wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/min-img/coffee-bean-transparent-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain; }

.perfect-cup__image-box {
  width: 50%;
  max-width: 560px;
  margin-top: auto; }

.perfect-cup__image {
  max-width: 100%;
  height: auto; }

.perfect-cup__content {
  width: 50%;
  max-width: 570px; }

.perfect-cup__heading {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: left;
  color: #0c2645; }

.perfect-cup__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between; }

.perfect-cup__item {
  padding-top: 85px;
  margin-right: 15px;
  position: relative; }
  .perfect-cup__item::before {
    content: "";
    width: 66px;
    height: 66px;
    background-image: url("../img/round.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #0c2645;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .perfect-cup__item:nth-child(1)::before {
    content: "1"; }
  .perfect-cup__item:nth-child(2)::before {
    content: "2"; }
  .perfect-cup__item:nth-child(3)::before {
    content: "3"; }
  .perfect-cup__item:last-child {
    margin-right: 0; }

.perfect-cup__text {
  font-family: "Roboto Light Italic", sans-serif;
  font-size: 16px;
  color: #272727;
  font-style: italic;
  text-align: center; }

.roast__card {
  max-width: 1230px;
  min-height: 830px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 100px;
  box-sizing: border-box;
  background-color: #0c2645;
  background-image: url("../img/min-img/coffee-bean-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  position: relative; }

.roast__wrapper {
  min-height: 800px;
  box-sizing: border-box;
  border: 3px solid white;
  display: flex;
  position: relative;
  z-index: 2; }

.roast__text-box {
  width: 50%;
  padding: 60px 50px 50px 50px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box; }

.roast__image-box {
  width: 50%;
  height: 100%;
  background-image: url("../img/min-img/machine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0; }

.roast__heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: left;
  color: #ffffff; }

.roast__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column; }

.roast__item {
  margin-bottom: 50px; }
  .roast__item:last-child {
    margin-bottom: 0; }

.roast__type {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Light Italic", sans-serif;
  font-size: 22px;
  color: #bb9e81;
  font-style: italic;
  text-align: left; }

.roast__info {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto Light Italic", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-style: italic;
  text-align: left; }

.rules__wrapper {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  margin-bottom: 90px;
  box-sizing: border-box; }

.rules__heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  color: #0c2645; }

.rules__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between; }

.rules__item {
  width: 25%;
  max-width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.rules__icon {
  width: 170px;
  height: 170px;
  margin-bottom: 20px;
  background-image: url("../img/round.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .rules__icon:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

.rules__icon-image {
  max-width: 120px;
  max-height: 70px; }

.rules__text {
  margin: 0;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: #747474; }

.rules__subheading {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  color: #0c2645;
  font-style: italic;
  text-align: center; }

.rules__info {
  width: 95%;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  color: #747474;
  font-style: italic;
  text-align: center; }

.products {
  max-width: 1230px;
  padding-bottom: 30px;
  margin: 0 auto;
  box-sizing: border-box; }

.products__heading {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "Futura Medium", Arial, sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  color: #0c2645; }

.products__list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 600px;
  background-color: #f7f2ed; }
